body {
  margin: 0;
  font-family:  'Roboto', 'Oxygen',
     'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.wrap {
  border-radius: 1em;
  box-shadow: 2px 2px 7px 1px rgba(20,30,40,.2);
  background-color: #434343;
  transition: .2s;
  color: whitesmoke!important;


}

.wrap:hover{
  background-color: #90C0ED;
}

input {
  background: rgba(0,0,0,.2)!important;
  border-radius: 1em!important;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
select {
  background: rgba(0,0,0,.2)!important;
  border-radius: 1em!important;
  color: white!important;
}
