.wrapper {

}
#wrapper {

}

@media (max-width: 768px) {
    #sidebar {
     margin-left: -260px!important;
    }
}

#sidebar {
    min-width: 260px;
    max-width: 260px;
    box-shadow: -1px -8px 8px 1px rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    direction: ltr;
    margin-left: 0;
    border: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
}

body {
    font-family: 'Roboto Thin', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto Thin', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #FBF7F5;
}

a, a:hover, a:focus {
    color: #FBF7F5 !important;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: rgba(0, 0, 0, 0.0);
    color: #FBF7F5;

    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
}

#sidebar .sidebar-header {
    padding: 25px;
    background: rgba(0, 0, 0, 0.0);
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #FBF7F5;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: .95em;
    display: block;
    padding-left: 30px !important;
    background: rgba(0, 0, 0, 0);
    text-decoration: none!important;
    font-weight: 400;
    border-left: 3px solid transparent;
}
#sidebar ul li a:hover {
    color: #FBF7F5!important;
    background: rgb(0,52,81);
    background: linear-gradient(124deg, rgba(0,52,81,1) 0%, rgba(32,70,92,1) 14%, rgba(115,138,149,1) 49%, rgba(160,171,175,1) 65%, rgba(235,227,219,1) 100%);
    text-decoration: none!important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #FBF7F5;
    background: rgb(0,52,81);
    background: linear-gradient(124deg, rgba(0,52,81,1) 0%, rgba(32,70,92,1) 14%, rgba(115,138,149,1) 49%, rgba(160,171,175,1) 65%, rgba(235,227,219,1) 100%);
    text-decoration: none!important;
}
ul ul a {

}

.icon-space {
    margin-right: .75rem;
}
.hvr-grow {

    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
